# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Large Raw Datasets & Medical Neuroimaging Scans
oasis dataset raw/
oasis*/
ADNI*/
ADNI2/
ADNI3/
ADNI4/
dataset/
temp_test/
*.nii
*.nii.gz
*.dcm
*.npy
*.hdr
*.img
*.t4
*.lst

# Large Archives & Packages (Exceeds GitHub 100MB limit)
*.zip
*.tar
*.tar.gz
*.7z

# Model Checkpoints & Large Binaries (Stored in Google Drive)
*.pt
*.pth
*.onnx
*.bin
models/checkpoints/

# OS Artifacts & Temporary Office Lock Files
~$*
.DS_Store
Thumbs.db
__MACOSX/
__MACOSX

# Logs & Virtual Environments
logs/
venv/
env/
.env
